.form-input {
  display: block;
  width: 400px;
  margin: 0 auto;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  transition-duration: 0.4s;
  font-family: "Montserrat-Alt1";
  margin-bottom: 10px;
  box-sizing: border-box;
}
.form-label{
  display: block;
  width: auto;
  margin: 0 auto;
  padding: 8px;
  background-color: #ffd604;
  border-radius: 4px;
  text-align: center;
  font-size: 32px;
  transition-duration: 0.4s;
  font-family: "Montserrat-Alt1";
  margin-bottom: 10px;
}

.form-border {
  display: block;
  width: 600px;
  margin: 0 auto;
  padding: 8px;
  border: 1px solid #ccc;
  background-color: lightblue;
  border-radius: 4px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  transition-duration: 0.4s;
  font-family: "Montserrat-Alt1";
  margin-bottom: 10px;
  box-sizing: border-box;
}
.form-textarea {
  display: block;
  width: 382px;
  margin: 0 auto;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  transition-duration: 0.4s;
  font-family: "Montserrat-Alt1";
  margin-bottom: 10px;
  display: block;
  height: 120px;
  resize: vertical;
}

.submitbutton {
  background-color: #ffd604;
  border: none;
  width: 200px;
  height: 40px;
  color: rgb(0, 0, 0);
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  margin: 0 10px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  transition-duration: 0.4s;
  font-family: "Montserrat-Alt1";
  flex: 1;
}
.cancelbutton {
  background-color: red;
  border: none;
  width: 200px;
  height: 40px;
  color: rgb(0, 0, 0);
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  margin: 0 10px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  transition-duration: 0.4s;
  font-family: "Montserrat-Alt1";
  flex: 1;
}

.cancelbutton:hover {
  background-color: #333;
  color: red;
}

.submitbutton:hover {
  background-color: #333;
  color: #ffd604;
}
.button-container {
  display: flex;
  justify-content: center;
  align-items: center; /* Align items vertically in the center */
  gap: 10px; /* Add spacing between the buttons */
  margin-top: 10px; /* Optional: Add top margin if needed */
}
.deletebutton2 {
  background-color: #ffd604;
  border: none;
  width: 80px;
  color: rgb(0, 0, 0);
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  transition-duration: 0.4s;
  font-family: "Montserrat-Alt1";
  margin-left: 40px;
}

.deletebutton2:hover {
  background-color: #333;
  color: #ffd604;
}
