@font-face {
  font-family: "Montserrat-Alt1";
  font-weight: 200;
  font-style: normal;
  src: url("../fonts/webfonts/MontserratAlt1-ExtraLight.woff2") format("woff2"),
       url("../fonts/webfonts/MontserratAlt1-ExtraLight.woff") format("woff");
}
.search-button {
    background-color: #ffd604;
    border: none;
    width: 80px;
    color: rgb(0, 0, 0);
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition-duration: 0.4s;
    font-family: "Montserrat-Alt1";
    margin-left: 40px;
  }
  
  .search-button:hover {
    background-color: #333;
    color: #ffd604;
  }

  .pagination {
    flex-wrap: wrap;
    display: flex;
    align-items: center;
  }

  .button-border{
    margin-left: 10px;
    margin: 10px;
  }

  .page-button {
    background-color: #ffd604;
    border: none;
    width: 100px;
    color: rgb(0, 0, 0);
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 50px;
    cursor: pointer;
    transition-duration: 0.4s;
    font-family: "Montserrat-Alt1";
    margin-left: 10px;
    margin-bottom: 200px;
    margin-top: 10px;
    margin: 10px;
    margin-right: 10px;
    
  }
    .page-button:hover {
    background-color: #333;
    color: #ffd604;
  }
  
  .dropdown{
    margin-left:500px;
    width: 50px;
    padding: 5px;
    color: black;
    border: 1px solid black;
    border-radius: 4px;
    background-color: #fff; 
    color: #333;
    margin: 10px;
    margin-left: 150px;
  }
 
  .pageNumber{
    max-width: 150px;
    justify-content: center;
    font-size: 25px;
    color: whitesmoke;
    margin: 10px;
    flex-grow: 1;
    text-align: center; 
    margin-left: 100px;
  }
