.searchBarInput{
    width: 400px;
    height: 25px;
    padding: 5px 10px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    border: 1px solid black;
    font-family: "Montserrat-Alt1";
    
  }
  
  .searchBarInput:focus {
    outline: none;
  }
  .Searchbar {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  