@font-face {
  font-family: "Montserrat-Alt1";
  font-weight: 200;
  font-style: normal;
  src: url("../fonts/webfonts/MontserratAlt1-ExtraLight.woff2") format("woff2"),
       url("../fonts/webfonts/MontserratAlt1-ExtraLight.woff") format("woff");
}
.search-button {
    background-color: #ffd604;
    border: none;
    width: 80px;
    color: rgb(0, 0, 0);
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition-duration: 0.4s;
    font-family: "Montserrat-Alt1";
    margin-left: 40px;
  }
  
  .search-button:hover {
    background-color: #333;
    color: #ffd604;
  }
  